nav {
  position: fixed;
  width: 100%;
  font-weight: bold;
  background: rgb(56, 94, 163);
  border-bottom: solid 2px rgb(55, 83, 134);
  padding: 10px 0;
  color: white;
  display: flex;
  justify-content: center;
}
